
div#texto {
    width: 400px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(156, 156, 156);
    border-style: solid;
    border-width: 1px;
}
p#titulo {
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5px;
    color: rgb(214, 1, 1);
}
p#textar {
    padding-left: 4px;
}
div#imgno1 {
    width: 550px;
    height: 420px;
    margin-left: 420px;
    margin-top: -280px;
}
img#img {
    border-radius: 10px;
}