@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(48, 47, 47);
  border-radius: 20px;
}

header {
  background-color: #141414;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.308);
  display: flex;
  padding: 5px 0px;
  align-items: center;
  justify-content: center;
}

.logo > svg {
  width: 50px;
  height: 50px;
}

section.banner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
section.banner .text {
  width: 50%;
  padding: 90px 50px 0px 50px;
}
section.banner .text h1 {
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #dddcdd;
  margin-bottom: 40px;
}
section.banner .text p {
  color: #d4c8d6;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  line-height: 27px;
}
section.banner .text .btn1 {
  display: flex;
  margin-top: 40px;
  border: 1px solid #8905aa;
  box-shadow: 2px 2px 2px rgba(137, 5, 170, 0.431372549);
  color: #d4c8d6;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  width: 140px;
  height: 50px;
  transition: 1s ease;
  cursor: pointer;
  background-color: #8905aa;
}
section.banner .text .btn1:hover {
  background-color: #73048f;
}
section.banner .img-section {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-right: 30px;
}

.tecnologias, .projetos {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px 50px 30px 50px;
  border-bottom: 6px solid #303030;
}
.tecnologias .part, .projetos .part {
  width: 33.3%;
  padding: 7px;
}
.tecnologias .part h4, .projetos .part h4 {
  color: #d4c8d6;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  line-height: 23px;
}
.tecnologias .part h4 a, .projetos .part h4 a {
  text-decoration: none;
  color: #c995d1;
}
.tecnologias .part .img-tec, .projetos .part .img-tec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

section.galeria {
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}

div.galerias {
  display: flex;
  justify-content: space-between;
  border-bottom: 6px solid #303030;
}

div.galeria-text {
  width: 50%;
  padding: 80px 50px 30px 50px;
}
div.galeria-text h1 {
  font-size: 2.7em;
  margin-bottom: 30px;
  font-family: "Bebas Neue", cursive;
  font-style: italic;
  color: #8905aa;
  text-transform: uppercase;
}
div.galeria-text p {
  color: #d4c8d6;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
  line-height: 25px;
}
div.galeria-text p a {
  text-decoration: none;
  color: #d4c8d6;
}

div.galeria-img {
  width: 50%;
  background-blend-mode: darken;
  box-shadow: inset 0px -10px 25px rgba(0, 0, 0, 0.5), inset 0px 10px 25px rgba(0, 0, 0, 0.5);
}

#galeria-img1 {
  background: rgba(0, 0, 0, 0.2) url("../img/miguel-Angelo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#galeria-img2 {
  background: rgba(0, 0, 0, 0.2) url("../img/Programacao.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#galeria-img3 {
  background: rgba(0, 0, 0, 0.2) url("../img/swift-post1-CRED-iStock_metamorworks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.h2-projetos {
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #d4c8d6;
}

footer {
  display: flex;
  padding: 15px 0px;
  background-color: #141414;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #d4c8d6;
  font-weight: normal;
}
footer h2 a {
  text-decoration: none;
  color: #d4c8d6;
  transition: 0.8s ease;
}
footer h2 a:hover {
  color: #8905aa;
}

@media screen and (max-width: 800px) {
  section.banner {
    flex-direction: column;
  }
  section.banner .text {
    width: 100%;
    padding: 20px 20px 10px 20px;
  }
  section.banner .img-section {
    display: none;
  }
  .tecnologias, .projetos {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    width: 100vw;
  }
  .tecnologias .part, .projetos .part {
    width: 100%;
    margin-bottom: 20px;
  }
  .tecnologias .part h4, .projetos .part h4 {
    width: 100%;
  }
  .galeria {
    display: flex;
    flex-direction: column;
  }
  .galeria #reverse {
    flex-direction: column-reverse;
  }
  .galeria .galerias {
    display: flex;
    flex-direction: column;
  }
  .galeria .galerias .galeria-img {
    height: 450px;
    width: 100%;
    border-top: 6px solid #303030;
  }
  .galeria .galerias .galeria-text {
    width: 100%;
    padding: 10px 20px 10px 20px;
  }
}
@media screen and (max-width: 800px) {
  .galeria > .galerias > .galeria-img {
    height: 250px;
  }
}/*# sourceMappingURL=style.css.map */