@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(48, 47, 47);
  border-radius: 20px;
}

header {
  background-color: #141414;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.308);
  display: flex;
  padding: 5px 0px;
  align-items: center;
  justify-content: center;
}

.logo > img {
  width: 50px;
  height: 50px;
}

section.banner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
section.banner .text {
  width: 50%;
  padding: 90px 50px 0px 50px;
}
section.banner .text h1 {
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #dddcdd;
  margin-bottom: 40px;
}
section.banner .text p {
  color: #d4c8d6;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  line-height: 27px;
}
section.banner .text .btn1 {
  display: flex;
  margin-top: 40px;
  border: 1px solid #8905aa;
  box-shadow: 2px 2px 2px rgba(137, 5, 170, 0.431372549);
  color: #d4c8d6;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  width: 140px;
  height: 50px;
  transition: 1s ease;
  cursor: pointer;
  background-color: #8905aa;
}
section.banner .text .btn1:hover {
  background-color: #73048f;
}
section.banner .img-section {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-right: 30px;
}

section.tecnologias {
  margin-top: 50px;
}

.tecnologias, .projetos {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px 50px 30px 50px;
}
.tecnologias .part, .projetos .part {
  width: 33.3%;
  padding: 7px;
}
.tecnologias .part h4, .projetos .part h4 {
  color: #d4c8d6;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  line-height: 23px;
}
.tecnologias .part h4 a, .projetos .part h4 a {
  text-decoration: none;
  color: #c995d1;
}
.tecnologias .part .img-tec, .projetos .part .img-tec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.projetos {
  margin-top: 50px;
  margin-bottom: 50px;
}

section.galeria {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  -moz-columns: 2;
       columns: 2;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 10px;
  padding-bottom: 0px;
  margin-top: 50px;
}
section.galeria .ul-galeria {
  -moz-columns: 2;
       columns: 2;
  list-style: none;
}
section.galeria .galerias {
  width: 90%;
  height: 800px;
  background-color: rgba(20, 19, 27, 0);
  margin-bottom: 80px;
  margin-left: 40px;
  background-blend-mode: darken;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 15px;
  transition: 0.5s ease;
}
section.galeria .galerias h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(168, 164, 164);
  font-size: 1.5em;
  margin-bottom: 15px;
  width: 90%;
}
section.galeria .galerias h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  color: #ccc;
}
section.galeria #galeria1 {
  background-image: url("../img/pc-gamer.svg");
  background-position: center center;
  background-size: cover;
  background-color: rgba(20, 19, 27, 0.6509803922);
}
section.galeria #galeria1:hover {
  background-color: rgba(20, 19, 27, 0.6509803922);
}
section.galeria #galeria1:hover h1 {
  color: #ccc;
}
section.galeria #galeria1:hover h3 {
  color: white;
}
section.galeria #galeria2 {
  background-image: url("../img/mao-robotica.svg");
  background-position: center center;
  background-size: cover;
}
section.galeria #galeria2:hover {
  background-color: rgba(20, 19, 27, 0.8274509804);
}
section.galeria #galeria2:hover h1 {
  color: #ccc;
}
section.galeria #galeria2:hover h3 {
  color: white;
}
section.galeria #galeria3 {
  background-image: url("../img/mec.svg");
  background-position: center center;
}
section.galeria #galeria3:hover {
  background-color: rgba(20, 19, 27, 0.8431372549);
}
section.galeria #galeria3:hover h1 {
  color: rgb(180, 179, 179);
}
section.galeria #galeria3:hover h3 {
  color: rgb(255, 255, 255);
}
section.galeria #galeria4 {
  background-image: url("../img/gamer.svg");
  background-position: center center;
  background-size: cover;
  background-color: rgba(20, 19, 27, 0.5254901961);
}
section.galeria #galeria4:hover {
  background-color: rgba(20, 19, 27, 0.7725490196);
}
section.galeria #galeria4:hover h1 {
  color: #ccc;
}
section.galeria #galeria4:hover h3 {
  color: white;
}

.h2-projetos {
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  width: 80%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #d4c8d6;
}

footer {
  display: flex;
  padding: 10px 0px;
  background-color: #141414;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #d4c8d6;
  font-weight: normal;
  font-size: 14px;
}
footer h2 a {
  text-decoration: none;
  color: #d4c8d6;
  transition: 0.8s ease;
}
footer h2 a:hover {
  color: #8905aa;
}

@media screen and (max-width: 800px) {
  section.banner {
    flex-direction: column;
  }
  section.banner .text {
    width: 100%;
    padding: 20px 20px 10px 20px;
  }
  section.banner .img-section {
    display: none;
  }
  .projetos {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  section.galeria {
    margin-left: -20px;
  }
  section.galeria .ul-galeria {
    -moz-columns: 1;
         columns: 1;
  }
  section.galeria .galerias {
    height: 400px;
    margin-bottom: 20px;
  }
  .tecnologias, .projetos {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    width: 100vw;
  }
  .tecnologias .part, .projetos .part {
    width: 100%;
    margin-bottom: 20px;
  }
  .tecnologias .part h4, .projetos .part h4 {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  section.galeria #galeria3 {
    background-image: url("../img/mec.svg");
    background-position: center center;
    background-color: rgba(20, 19, 27, 0.6901960784);
  }
  section.galeria .galerias {
    height: 500px;
  }
  section.galeria .galerias h3 {
    font-size: 1.8em;
  }
}/*# sourceMappingURL=style.css.map */