@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1a1a;
    overflow-x: hidden
}

body::-webkit-scrollbar {
    width: 6px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(48, 47, 47); 
    border-radius: 20px;       
}

header{
    background-color: #141414;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.308);
    display: flex;
    padding: 5px 0px;
    align-items: center;
    justify-content: center;
}
.logo > img{
    width: 50px;
    height: 50px;
}
section.banner{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .text{
        width: 50%;
        padding: 90px 50px 0px 50px;

        h1{
            font-size: 2.5em;
            font-family: Arial, Helvetica, sans-serif;
            color: #dddcdd;
            margin-bottom: 40px;
        }
        p{
            color: #d4c8d6;
            font-family: Arial, Helvetica, sans-serif;
            width: 90%;
            line-height: 27px;
        }
        .btn{
            display: flex;
            margin-top: 40px;
            border: 1px solid #8905aa;
            box-shadow: 2px 2px 2px #8905aa6e;
            color: #d4c8d6;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 5px;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            width: 140px;
            height: 50px;
            transition: 1s ease;
            cursor: pointer;
            background-color: #8905aa;

            &:hover{
                background-color: #73048f;
            }
        }
    }
    .img-section{
        display: flex; 
        justify-content: center;
        width: 50%;
        padding-right: 30px;

    }
}

section.tecnologias{
    margin-top: 50px;
}

.tecnologias, .projetos{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0px 50px 30px 50px;
    .part{
        width: 33.3%;
        padding: 7px;
        h4{
            color: #d4c8d6;
            font-family: Arial, Helvetica, sans-serif;
            width: 80%;
            line-height: 23px;

            a{
                text-decoration: none;
                color: #c995d1;
            }
        }
        .img-tec{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
        }
    }
}

.projetos{
    margin-top: 50px;
    margin-bottom: 50px;
}

section.galeria{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    columns: 2;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 10px;
    padding-bottom: 0px;

    margin-top: 50px;
    .ul-galeria{
        columns: 2;
        list-style: none;

    }
    .galerias{
        width: 90%;
        height: 800px;
        background-color: #14131b00;
        margin-bottom: 80px;
        margin-left: 40px;
        background-blend-mode: darken;   
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 15px;
        


        h1{
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(168, 164, 164);
            font-size: 1.5em;
            margin-bottom: 15px;
            width: 90%;

        }
        h3{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.3em;
            color: #ccc;
        }

        transition: .5s ease;


    }
    #galeria1{
        background-image: url('../img/pc-gamer.svg');
        background-position: center center;
        background-size: cover;
        background-color: #14131ba6;  
        &:hover{
            background-color: #14131ba6;  

            h1{
                color: #ccc;
            }
            h3{
                color: white;
            }
        }

    }
    #galeria2{
        background-image: url('../img/mao-robotica.svg');
        background-position: center center;
        background-size: cover;



        &:hover{
            background-color: #14131bd3;  

            h1{
                color: #ccc;
            }
            h3{
                color: white;
            }
        }

    }

    #galeria3{
        background-image: url('../img/mec.svg');
        background-position: center center;

        &:hover{
            background-color: #14131bd7;  

            h1{
                color: rgb(180, 179, 179);
            }
            h3{
                color: rgb(255, 255, 255);
            }
        }

    }

    #galeria4{
        background-image: url('../img/gamer.svg');
        background-position: center center;
        background-size: cover;
        background-color: #14131b86;


        &:hover{
            background-color: #14131bc5;  

            h1{
                color: #ccc;
            }
            h3{
                color: white;
            }
        }

    }
}

.h2-projetos{
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    width: 80%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #d4c8d6;
}
footer{
    display: flex;
    padding: 10px 0px;
    background-color: #141414;
    text-align: center;
    align-items: center;
    justify-content: center;    

    h2{
        font-family: Arial, Helvetica, sans-serif;
        color: #d4c8d6;
        font-weight: normal;
        font-size: 14px;

        a{
            text-decoration: none;
            color: #d4c8d6;
            transition: .8s ease;

            &:hover{
                color: #8905aa;
            }
        }
    }
}

@media screen and (max-width: 800px){
    section.banner{
        flex-direction: column;

        .text{
            width: 100%;
            padding: 20px 20px 10px 20px;
        }
        .img-section{
            display: none;
        }

    }
    .projetos{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    section.galeria {
        margin-left: -20px;
        #galeria3{
            background-image: url('../img/mec.svg');
            background-position: center center;
            background-color: #14131bb0;  
    
            }
        .ul-galeria{
            columns: 1;
        }
        .galerias{
            height: 400px;
            margin-bottom: 20px;
        }
    }


     .tecnologias, .projetos{
            display: flex;
            flex-direction: column;
            padding: 10px 20px 10px 20px;
            width: 100vw;
            
            .part{
                width: 100%;
                margin-bottom: 20px;

                h4{
                    width: 100%;
                }
            }
    }


}

@media screen and (max-width: 400px){
    section.galeria { 

        .galerias {
        height: 500px;

        h3{
            font-size: 1.8em;
        }
    }
}
}