        /*DicasTec/Começo*/
        #dicastec{
            width: 1200px;
            height: 500px;
            margin-left: 91px;
            margin-top: 120px;
        }
        .dicastec1 {
            width: 350px;
            height: 400px;
            background-color: white;
            border-radius: 20px;
            border: black 1px solid;
        }
        #dicastec ul li {
            display: inline-block;
            margin-left: 10px;
        }
        .dicastec1 a {
            text-decoration: none;
            color: rgb(32, 155, 255);
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
        }
        .div-titulo {
            margin-left: 100px;
            margin-top: 20px;
        }
        .imgnot1 {
            width: 150px;
            height: 150px;
            margin-left: 94px;
            margin-top: 20px;
        }
        .descripttec {
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            text-align: center;
            font-size: 10pt;
            color: rgb(90, 90, 90);
        }
        /*DicasTec/Fim*/