body {
    background-color: rgb(175, 175, 175);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(https://raw.githubusercontent.com/MiguelrSant/IMGO/main/FREIZEIT/IMg-Base/fundo-site.png?token=AR6INPOEWVMKMETEI7CVBW274EHL6);
}
#fundo-a {
    position: fixed;
    margin-top: -120px;
}
a {
    text-decoration: none;
}

#left {
    background-color: #443f3f;
    width: 300px;
    height: 800px;
    position: fixed;
    margin-top: -120px;
}
#cont {
    margin-top: 33px;
}
#Logo-Img {
    margin-left: 110px;
    margin-top: 60px;
    border-radius: 40px
}   
#text-1fs {
    width: 100px;
    height: 20px;
    margin-top: 10px;
    margin-left: 80px;
    color: white;
    font: normal 23pt Arial; 
}
#text-descript1 {
    color: rgb(175, 175, 175);
    margin-left: 50px;
    margin-top: 55px;
    font-family: sans-serif;
}
#text-descript2 {
    color: rgb(175, 175, 175);
    margin-left: 75px;
    font-family: sans-serif;
}
#text-descript3 {
    color: rgb(175, 175, 175);
    margin-left: 100px;
    font-family: sans-serif;
}
#pages{
    margin-left: -18px;
    margin-top: 60px;
}
#pages ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 14pt;
    font-family: sans-serif;
}
#pages ul li {
    text-transform: uppercase;
    padding-left: 90px;
    display: inline-block;
    margin-top: 8px;
}
#pages ul li :hover {
    color:  rgb(231, 150, 0);
}
.pages-m1 {
    margin-left: -11px;
}
.pages-m2 {
    margin-left: -10px;
}
#conteudo {
    width: 990px;
    height: 1480px; ;
    margin-left: 320px;
    text-transform: uppercase;
}
#text-ops {
    margin-top: 120px;
    margin-left: 20px;
    font-family: arial;
    font-size: 15pt;
    color: white;
}
.novidades- {
    width: 990px;
    height: 230px;
    margin-left: 20px;
    margin-top: 50px;
}
.tiln { 
    color: white;
    font-family: Arial; 
}
.tiln:hover {
    border-bottom: 2px solid white;
    width: 170px
}
.parn {
    color: rgb(185, 184, 184);
    font-family: Arial;
}
.imgs {
    height: 150px;
    width: 150px;
    margin-left: 600px;
    margin-top: -130px;
}
#Contato {
    width: 1049px;
    height: 70px;
    background-color: #2b2b2b;
    margin-left: 300px;
    font-family: Arial;
    color: rgb(109, 109, 109);
}
#text-Contato {
    margin-top: 361px;
    margin-left: 150px;
}