// ANIMAÇÃO HAMBURGUER

#hamburguer:checked ~ label .hamburguer::after{
    transform: rotate(45deg);

    top: 40%;
    height: 5%;
}
#hamburguer:checked ~ label .hamburguer::before{
    transform: rotate(-45deg);

    top: 40%;
    height: 5%;
}
