.header{
    width: 100%;
    height: 30px;

    background-color: #111111cc;
    backdrop-filter: blur(20px);

    position: fixed;
    top: 0;
    z-index: 999;;
}

.navbar{

    max-width: 1200px;
    height: 30px;
    margin: auto;
    padding: 5px 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-desktop{
    list-style: none;

    display: flex;
    align-items: center;

    li{
        margin-left: 18px;
        font-size: 12px;

        .nav-link{
            display: block;
            color: rgb(192, 192, 192);

            transition: .7s ease;

            font-family: 'Montserrat', sans-serif;

            &:hover{
                color: rgb(240, 235, 235);
            }
        }
        .nav-p{
            cursor: default;
            display: block;
            color: rgb(192, 192, 192);

            transition: .7s ease;

            font-family: 'Montserrat', sans-serif;
            font-size: 12px;    
        }
    }
}

.hamburguer {
    width: 25px;
    height: 25px;

    background-color: transparent;
    border-radius: 5px;
    border: 0;

    position: relative;
    cursor: pointer;

    display: none;

    &::after {
        content: '';
        position: absolute;
        top: 35%;
        left: 15%;

        width: 70%;
        height: 5%;
        border-radius: 5px;

        background-color: #fff;

        transition: .8s ease;
    }

    &::before{
        content: '';

        position: absolute;
        top: 55%;
        left: 15%;

        width: 70%;
        height: 5%;
        border-radius: 5px;

        background-color: #fff;

        transition: .8s ease;
    }
}

@media screen and (max-width: 800px) {
    .hamburguer{
        display: block;
        z-index: 999;
    }

    .nav-list-desktop{
        position: fixed;
        top: 0;
        right: -100%;

        height: 100vh;
        margin: 0;

        background-color: #222;

        width: 100%;
        max-width: 250px;

        padding: 100px 20px;
        flex-direction: column;

        transition: .7s ease;
    }
    .nav-list-desktop.active {
        right: 0;
    }
}