.h1-sobrenos {
    font-size: 35pt;
    font-family: 'Sriracha', cursive;
    margin-left: 2%;
    color: rgb(87, 87, 87);
}
#texto-sobrenos {
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(179, 162, 162);
    text-align: left;
}
.conteudo-principal-sobrenos {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;     
}
.redes-socias {
    margin-left: 2%;
}
.texto-redes-sociais {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.texto-redes-sociais a {
    text-decoration: none;
    display: flex;
    color: rgb(218, 218, 218);
}