* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    width: 100%;
    height: 35px;
    background-color: #333333;
}

a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.header {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(17, 17, 17, 0.8);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
}

.header-container {
    max-width: 820px;
    margin: 0 auto;
    padding: 5px 0px;
}

.nav-list-desktop {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.nav-link {
    color: #838383;
    display: block;
    font-family: 'Sriracha', cursive;
    opacity: 1;
}

.nav-link:hover {
    opacity: 0.7;
}
.header-conteudo {
    margin-top: 10%;
}
.conteudo-principal-home {
    width: 95%;
    height: 1200px;
    background-color: red;
    margin: auto;   
}